<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase">
            My Progress For Interview Preparation
        </h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card bg-light border-0 p-0">
                <div class="card-body">
                    <div id="accordion" class="myaccordion">
                        <div class="card">
                            <div class="card-header" id="referencesHeading">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsereferencesHeading"
                                        aria-expanded="false"
                                        aria-controls="collapsereferencesHeading"
                                    >
                                        PortFolio and Projects ( LARAVEL )

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsereferencesHeading"
                                class="collapse"
                                aria-labelledby="referencesHeading"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://drive.google.com/file/d/17XXTD9UUSFd3qmSqabBoIMk6xGb5hyYX/view?usp=sharing" target="_blank"> Laravel Zip Project Links ( Google Drive ) </a>
                                        </li>

                                        <hr>

                                        <section>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Total Projects</strong>
                                            </li>
                                            <li>
                                                <ol>
                                                    <li>Dalua Illumagic - DevStudio</li>
                                                    <li>Humphrey & Stretton - DevStudio</li>
                                                    <li>HR Portal - DevStudio</li>
                                                    <li>MSM - DevStudio</li>
                                                    <li>Scooter Mart - DevStudio</li>
                                                    <li>Freelance Portal - DevStudio</li>
                                                    <li>Illuminate - DevStudio<br> ------------ </li>
                                                    <li>ToonTutors - Deviotech</li>
                                                    <li>PetroSystem - Deviotech</li>
                                                    <li>The TempHub - Deviotech</li>
                                                    <li>Talkmaze - Deviotech</li>
                                                    <li>Spick And Span - Deviotech</li>
                                                    <li>QuranTutors - Deviotech</li>
                                                    <li>PlasticStock - Deviotech</li>
                                                    <li>Plant Hire - Deviotech</li>
                                                    <li>PayPal Shahzad Bhai - Deviotech</li>
                                                    <li>Nursing Home - Deviotech</li>
                                                    <li>My City Tour - Deviotech</li>
                                                    <li>MedFully - Deviotech</li>
                                                    <li>Mathhew Hours - Deviotech</li>
                                                    <li>Limerick Post - Deviotech</li>
                                                    <li>Life Quran - Deviotech</li>
                                                    <li>Driva - Deviotech</li>
                                                    <li>Dabaere - Deviotech</li>
                                                    <li>CSAT - Deviotech</li>
                                                    <li>Company Formation Request - Deviotech<br> --------- </li>
                                                    <li>The PetShop - University FYP</li>
                                                    <li>Quiz Laravel - SoftPyramid Code Challenge</li>
                                                    <li>Network Connections API - IKONIK Code Challenge</li>
                                                    <li>MLM GMI - Codex IT Solutions</li>
                                                    <li>Alahdeen - Stack Soft</li>
                                                </ol>
                                            </li>
                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Dalua Illumagic</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1x8C_EArA1UR03anXMBzMf-U-Rh608YiQ/view" target="_blank">Dalua Illumagic DevStudio Project For Future Help ( Google Drive ) </a>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1qfD0NRMRbpkr8bDHh-8SwTBlJk73H_cE/view?usp=sharing" target="_blank">Dalua Illumagic DevStudio Project For Future Help ( Screenshots ) </a>
                                            </li>

                                        </section>

                                        <hr>

                                        <section>
                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Toon Tutors</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1UPddG0XZbSO5SVT2FVMrr7zKGBY9ecsv/view?usp=sharing" target="_blank">Toon Tutors Deviotech Project For Future Help ( Google Drive ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>PetroSystem</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1GmzGylqUuvZegpvQ6ZZbM9SvpMiFdPmU/view?usp=sharing" target="_blank">PetroSystem Deviotech Project For Future Help ( PetroSystem ) </a>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/182ItlkngM1CB_kN6e17n6TGrNFlbeih0/view?usp=sharing" target="_blank">PetroSystem Deviotech Project For Future Help ( Screenshots ) </a>
                                            </li>


                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>The TempHub</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1Ls5m9CCFH2I7A4isMLbHoVcDsOI0vDiQ/view?usp=sharing" target="_blank">The TempHub Deviotech Project For Future Help ( Google Drive ) </a>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1LTB82ef_BMgAp_17Kh5jbBYz_3MvfSpn/view?usp=sharing" target="_blank">The TempHub Deviotech Project For Future Help ( Screenshots ) </a>
                                            </li>


                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Talkmaze</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1jZI-FeM56GiP38cwD56QE4irkG16GUXe/view?usp=sharing" target="_blank">TalkMaze Deviotech Project For Future Help ( Google Drive ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Spick And Span</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1LhF3YmoUVKajrjYvhI5B1LtInjvLZaLU/view?usp=sharing" target="_blank">Spick And Span Deviotech Project For Future Help ( Google Drive ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Quran Tutors</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1-pDFyWqXHQeGHzXg7VivWUuJdSKz-yQk/view?usp=sharing" target="_blank">Quran Tutors Deviotech Project For Future Help ( Google Drive ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Quiz Laravel</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/14WMV7A6kZs1jV6oPjKcZmHgVufYUlTVZ/view?usp=sharing" target="_blank">Quiz Laravel SoftPyramid For Future Help ( Google Drive ) </a>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1jEj8SIDTBtOFZDMrmfx0U8AMDvHNkzJy/view?usp=sharing" target="_blank">Quiz Laravel SoftPyramid For Future Help ( Screenshots ) </a>
                                            </li>


                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Plastic Stock</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1rwUy2OIzI7SbIH30-iezdt6duUoVTMga/view?usp=sharing" target="_blank">Plastic Stock Deviotech For Future Help ( Google Drive ) </a>
                                            </li>


                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Plant Hire</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1tNZm1lQ569IKxyRA9P54DZPK-8gKk1Sn/view?usp=sharing" target="_blank">Plant Hire Deviotech For Future Help ( Google Drive ) </a>
                                            </li>


                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>The PetShop</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1tAO9Rocznbqpzy1gNemyOBDsv_ThvLQi/view?usp=sharing" target="_blank">The PetShop University FYP For Future Help ( Google Drive ) </a>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1tAO9Rocznbqpzy1gNemyOBDsv_ThvLQi/view?usp=sharing" target="_blank">The PetShop University FYP For Future Help ( Screenshots ) </a>
                                            </li>


                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>PayPal Shahzad Bhai</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1UjQxxhmpu8HwGFV5wSEc2aJluXQ2rvLJ/view?usp=sharing" target="_blank">The PayPal Shahzad Bhai Deviotech For Future Help ( Google Drive ) </a>
                                            </li>


                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Nursing Home</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1K7friBV7iFv9cEI8_T4_HXilF1Y-o9Zm/view?usp=sharing" target="_blank">Nursing Home Deviotech For Future Help ( Google Drive ) </a>
                                            </li>



                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Ikonik Network Connections API</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1hU3Npx1RS5l9lzgzhfotLKVHJbsZic7P/view?usp=sharing" target="_blank">Network Connections API IKONIK For Future Help ( Google Drive ) </a>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/15jViE1xGcx45Zt_onxBUvX2iSdMAY_11/view?usp=sharing" target="_blank">Network Connections API IKONIK For Future Help ( Screenshots ) </a>
                                            </li>


                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>My City Tour</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1a3763Y0FdDPErqPVnn6CL82HkwjjAUqF/view?usp=sharing" target="_blank">My City Tour Deviotech For Future Help ( Google Drive ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>MSM Shop</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1Ozw5Hw-Y_9BH58GWCqOsATuzZ1yS-Puw/view?usp=sharing" target="_blank">MSM DevStudio For Future Help ( Google Drive ) </a>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1Pstfql7rR5YVBA0TwzoUxcWOrj4bYy_s/view?usp=sharing" target="_blank">MSM DevStudio For Future Help ( Screenshots ) </a>
                                            </li>


                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>MLM GMI</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1NILPdzukYuVYg2PlfFAUu5QybMtD8_60/view?usp=sharing" target="_blank">MLM GMI of Codex IT Solutions For Future Help ( Google Drive ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>MedFully</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1w7rFF0E-UVdIuVMHcggh1R_mwP_LgbEc/view?usp=sharing" target="_blank">MedFully Project of Deviotech For Future Help ( Google Drive ) </a>
                                            </li>


                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Mathhew Hours</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/11SiuZob4XcFy9A6ip3qEwJh8cUlSMIGQ/view?usp=sharing" target="_blank">Mathhew Hours Project of Deviotech For Future Help ( Google Drive ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Limerick POST</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1qvsB7QoOSq04f40vV0eT9HPOgFGVzPlY/view?usp=sharing" target="_blank">Limerick POST Project of Deviotech For Future Help ( Google Drive ) </a>
                                            </li>


                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Life Quran</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1ymKtTcj2ey8MvGQaWc7O9UcQMERkzZLV/view?usp=sharing" target="_blank">Life Quran Project of Deviotech For Future Help ( Google Drive ) </a>
                                            </li>


                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Humphrey & Stretton API</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1e86_tj1HXV6dRnEXzPd2xxK32a885hBH/view?usp=sharing" target="_blank">Humphrey & Stretton Project of DevStudio For Future Help ( Google Drive ) </a>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1GxsA4aj4TY6We96df2IeSu-zSJjlgK_7/view?usp=sharing" target="_blank">Humphrey & Stretton Project of DevStudio For Future Help ( Screenshots ) </a>
                                            </li>



                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>HR Portal</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1sVFiWfbantjvq3va4qN5rAgF585GKhzE/view?usp=sharing" target="_blank">HR Portal Project of DevStudio For Future Help ( Google Drive ) </a>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1GSHy7mbVQbkdlCv0gWtzB6AlViSO0QjL/view?usp=sharing" target="_blank">HR Portal Project of DevStudio For Future Help ( Screenshots ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Driva</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1lPwwTfO4xWZmlRyg7bWsqLBn6oKnPzm3/view?usp=sharing" target="_blank">Driva Project of Deviotech For Future Help ( Google Drive ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Dabaere Project</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1nKbE1FEI9hKkw1PltPYJdIYZLPsTor_6/view?usp=sharing" target="_blank">Dabaere Project of Deviotech For Future Help ( Google Drive ) </a>
                                            </li>


                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>CSAT Project</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1AXuucgz85H3zkl1Hvj2QkQmo4mNrYZLN/view?usp=sharing" target="_blank">CSAT Project of Deviotech For Future Help ( Google Drive ) </a>
                                            </li>


                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Company Formation Request</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1elH6vzOa14rWNY1WyO-ztrJGUAvqDZBN/view?usp=sharing" target="_blank">Company Formation Project of Deviotech For Future Help ( Google Drive ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Alahdeen</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/120mxnHL8KLF9SodgRLa4GJgeumv-xtTt/view?usp=sharing" target="_blank">Alahdeen Project of Deviotech For Future Help ( Google Drive ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Scooter Mart</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1G5c26B8J7OHWb2Q4JOBlHtlseeBKLQ6U/view?usp=sharing" target="_blank">Scooter Mart Project of DevStudio For Future Help ( Google Drive ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Illuminate</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1Q7fEwUmIQUnSY65Lz2POIrzzhsOIAcI7/view?usp=sharing" target="_blank">Illuminate Project of DevStudio For Future Help ( Google Drive ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Freelancer Portal</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/19pA5bUTd1QFCz2azoTXP183k5d3VlOJf/view?usp=sharing" target="_blank">Freelance Portal Project of DevStudio For Future Help ( Google Drive ) </a>
                                            </li>



                                        </section>


                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="referencesHeading1">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsereferencesHeading1"
                                        aria-expanded="false"
                                        aria-controls="collapsereferencesHeading1"
                                    >
                                        PortFolio and Projects ( PHP )

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsereferencesHeading1"
                                class="collapse"
                                aria-labelledby="referencesHeading1"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>

                                        <section>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Total Projects</strong>
                                            </li>
                                            <li>
                                                <ol>
                                                    <li>Online Exam System - Comtech4All</li>
                                                    <li>Typing Test - Comtech4All</li>
                                                    <li>Inventory Management System - Codex IT Solution</li>
                                                    <li>Entertainment Website - Stack Soft</li>
                                                </ol>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Online Examination System</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1ZvCivve3HbVvx84Fmz9phcjbu0OPsBfI/view?usp=sharing" target="_blank">Online Examination System of Comtech4All Project For Future Help ( Google Drive ) </a>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1S0D3gV35DWyFcit3TpgmYpQYosNXHtz2/view?usp=sharing" target="_blank">Online Examination System of Comtech4All Project For Future Help ( Screenshots ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Typing Test</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1Fw829bmFPZugogSYiiDK9n48gOCNphx5/view?usp=sharing" target="_blank">Typing Test Comtech4All Project For Future Help ( Google Drive ) </a>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1u9X4ZQJHJLQPpjNjLo3JpAfwLRzk3ulO/view?usp=sharing" target="_blank">Typing Test Comtech4All Project For Future Help ( Screenshots ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Inventory Management System</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1nBQhWmGTj6cyCVfkjPsrTiSVz-TO0JTH/view?usp=sharing" target="_blank">Inventory Management System of Codex IT Solutions Project For Future Help ( Google Drive ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Entertainment Website</strong>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1nBQhWmGTj6cyCVfkjPsrTiSVz-TO0JTH/view?usp=sharing" target="_blank">Entertainment Website of Stack Soft Project For Future Help ( Google Drive ) </a>
                                            </li>



                                        </section>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="referencesHeading2">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsereferencesHeading2"
                                        aria-expanded="false"
                                        aria-controls="collapsereferencesHeading2"
                                    >
                                        PortFolio and Projects ( ANGULAR )

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsereferencesHeading2"
                                class="collapse"
                                aria-labelledby="referencesHeading2"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>

                                        <section>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Total Projects</strong>
                                            </li>
                                            <li>
                                                <ol>
                                                    <li>E-Commerce App</li>
                                                    <li>Blog App</li>
                                                    <li>Basic Authentication App</li>
                                                    <li>CRUD Using POP-Ups</li>
                                                    <li>CRUD Using Routing</li>
                                                    <li>CRUD Using Tabs</li>
                                                    <li>Single Page CRUD</li>
                                                    <li>Quiz APP</li>
                                                    <li>RxJs Project</li>
                                                    <li>Theme Integration</li>
                                                </ol>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>E-Commerce App</strong>
                                            </li>
                                            <li>
                                                <a href="https://github.com/alikashi543211/AngularE-CommerceProject/tree/DEV" target="_blank">Project For Future Help ( GitHub ) </a>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1MJWPzZiCjUkH9sbBQg-GzSsySE7NNN_4/view?usp=sharing" target="_blank">Project For Future Help ( Screenshots ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong> Blog App </strong>
                                            </li>
                                            <li>
                                                <a href="https://github.com/alikashi543211/AngularLiveProject/tree/DEV" target="_blank">Project For Future Help ( GitHub ) </a>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1S0D3gV35DWyFcit3TpgmYpQYosNXHtz2/view?usp=sharing" target="_blank">Project For Future Help ( Screenshots ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong> Basic Authentication App </strong>
                                            </li>
                                            <li>
                                                <a href="https://github.com/alikashi543211/Angular_Authentication_App/tree/DEV" target="_blank">Project For Future Help ( GitHub ) </a>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/11V_IVliFQIOJk4xjCDPYibJ1meO5SdDv/view?usp=sharing" target="_blank">Project For Future Help ( Screenshots ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>CRUD Using Pop-Ups</strong>
                                            </li>
                                            <li>
                                                <a href="https://github.com/alikashi543211/Angular_CRUD_Using_POP_Ups_APP/tree/DEV" target="_blank">Project For Future Help ( GitHub ) </a>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1wHP20e4AQUWXShhol-OPqT8OqIftk32O/view?usp=sharing" target="_blank">Project For Future Help ( Screenshots ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>CRUD Using Routing</strong>
                                            </li>
                                            <li>
                                                <a href="https://github.com/alikashi543211/Angular_CRUD_Using_Routes_APP/tree/DEV" target="_blank">Project For Future Help ( GitHub ) </a>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1e-yyKXyuhzvaRkCIKjPt_HyjPY5ewyUb/view?usp=sharing" target="_blank">Project For Future Help ( Screenshots ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>CRUD Using Tabs</strong>
                                            </li>
                                            <li>
                                                <a href="https://github.com/alikashi543211/Angular_CRUD_Using_Tabs_APP" target="_blank">Project For Future Help ( GitHub ) </a>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1xzJaZZwJPw0yplEiBw8Cb74eFeRssn_m/view?usp=sharing" target="_blank">Project For Future Help ( Screenshots ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Single Page CRUD</strong>
                                            </li>
                                            <li>
                                                <a href="https://github.com/alikashi543211/My_Angular_14_CRUD_APP/tree/DEV" target="_blank">Project For Future Help ( GitHub ) </a>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1M2x1V7ASBMDiVy2S_zbu8LWBf2qzj7bZ/view?usp=sharing" target="_blank">Project For Future Help ( Screenshots ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Quiz APP</strong>
                                            </li>
                                            <li>
                                                <a href="https://github.com/alikashi543211/QuizSystem_Angular" target="_blank">Project For Future Help ( GitHub ) </a>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1b3cOrthPqJAGoXPyh7SRwnB-1LiD17D7/view?usp=sharing" target="_blank">Project For Future Help ( Screenshots ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>RxJs Project</strong>
                                            </li>
                                            <li>
                                                <a href="https://github.com/alikashi543211/RxJs_Concepts" target="_blank">Project For Future Help ( GitHub ) </a>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1xieMwphCzeDYrfyiINXoHF9Xp5Rr087k/view?usp=sharing" target="_blank">Project For Future Help ( Screenshots ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Theme Integration</strong>
                                            </li>
                                            <li>
                                                <a href="https://github.com/alikashi543211/Angular_Simple_Theme_Integration_App/tree/IntegrateThemeUsingStyle.css" target="_blank">Project For Future Help ( GitHub ) </a>
                                            </li>
                                            <li>
                                                <a href="https://drive.google.com/file/d/1ySl1d4Uyml9aPvKQUqVwP7oMc0sIU1A3/view?usp=sharing" target="_blank">Project For Future Help ( Screenshots ) </a>
                                            </li>



                                        </section>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="referencesHeading3">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsereferencesHeading3"
                                        aria-expanded="false"
                                        aria-controls="collapsereferencesHeading3"
                                    >
                                        PortFolio and Projects ( REACT )

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsereferencesHeading3"
                                class="collapse"
                                aria-labelledby="referencesHeading3"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>

                                        <section>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Total Projects</strong>
                                            </li>
                                            <li>
                                                <ol>
                                                    <li>Setup First React App Using CDN</li>
                                                    <li>Setup First React App Using NPM</li>
                                                    <li>Module Import Export in React App</li>
                                                </ol>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Setup First React App Using CDN</strong>
                                            </li>
                                            <li>
                                                <a href="https://github.com/alikashi543211/First_App_in_React_Using_Cdn" target="_blank">Project For Future Help ( GitHub ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong> Setup First React App Using NPM </strong>
                                            </li>
                                            <li>
                                                <a href="https://github.com/alikashi543211/First_App_React_Using_NPM" target="_blank">Project For Future Help ( GitHub ) </a>
                                            </li>

                                            <!-- Laravel Request Life Cycle -->

                                            <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                                <strong>Module Import Export in React App</strong>
                                            </li>
                                            <li>
                                                <a href="https://github.com/alikashi543211/Module_Import_Export_in_React" target="_blank">Project For Future Help ( GitHub ) </a>
                                            </li>

                                        </section>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
