<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase">
            Codignitor Tech Interview Preparation
        </h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card bg-light border-0 p-0">
                <div class="card-body">
                    <div id="accordion" class="myaccordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="false"
                                        aria-controls="collapseOne"
                                    >
                                        Codignitor MCQs Interview

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapseOne"
                                class="collapse"
                                aria-labelledby="headingOne"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.includehelp.com/mcq/codeigniter-mcqs.aspx" target="_blank">Codignitor Tech ( Include Help ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://tutorialslink.com/mcq-quiz/codeigniter-mcq-quiz-multiple-choice-questions-and-answers" target="_blank">Codignitor Tech ( Tutorials Link ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.onlineinterviewquestions.com/codeigniter-mcq/" target="_blank">Codignitor Tech ( Online Interview Questions ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.freshersnow.com/codeigniter-quiz/" target="_blank">Codignitor Tech ( Freshers Now ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://www.allindiaexams.in/engineering/cse/codeigniter-mcq-quiz-codeigniter-online-test" target="_blank">Codignitor Tech ( All India Exams ) MCQs</a>
                                        </li>
                                        <li>
                                            <a href="https://letsfindcourse.com/php-framework-mcq/codeigniter-mcq-questions-answers" target="_blank">Codignitor Tech ( Lets Find Course ) MCQs</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="referencesHeading">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse"
                                        data-target="#collapsereferencesHeading"
                                        aria-expanded="false"
                                        aria-controls="collapsereferencesHeading"
                                    >
                                        Codignitor Interview References

                                    </button>
                                </h2>
                            </div>
                            <div
                                id="collapsereferencesHeading"
                                class="collapse"
                                aria-labelledby="referencesHeading"
                                data-parent="#accordion"
                            >
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=mkq8FNFLOW8&list=PL8kfzPha-e2iC8cT79hd5hCVffkbW309d&ab_channel=UBKINFOTECH" target="_blank">Codignitor PlayList - Explained By ( UBK INFOTECH )  </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=S7hwsyCvbJw&list=PLRB0wzP8AS_Fjs0NWIhdu-tDBnHekQNZj&ab_channel=PHPTECHLIFE" target="_blank">  Codignitor PlayList - Explained By ( PHP TECH LIFE )  </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=wRmBCh1J464&list=PLHFGzOr0F8DI5IBxWWzHvdUL_HmWUAqg2&ab_channel=PHPinHindi" target="_blank">Codignitor PlayList - Explained By ( PHP IN HINDI )</a>
                                        </li>

                                        <!-- Microservices in Laravel -->

                                        <li style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                            <strong>How to create project in Codignitor ?</strong>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/watch?v=COOJUEyoOzY&list=PL8PTGndqk4XfswD-cAF-TBY1y7Iu7NIbT&index=2&ab_channel=TechnicalGoyalji" target="_blank">How to create project in Codignitor Explained by ( Technical Goyalji ) </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- /.container-fluid -->
