<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-transform: uppercase">
            Coding Standard - Laravel
        </h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="card bg-light border-0 p-0">
                <div class="card-body">
                    <div id="accordion" class="myaccordion">
                        <div class="card">
                            <div class="card-header" id="currentSalaryHeading">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse" data-target="#collapsecurrentSalaryHeading"
                                        aria-expanded="false" aria-controls="collapsecurrentSalaryHeading">
                                        Laravel Code - WEB

                                    </button>
                                </h2>
                            </div>
                            <div id="collapsecurrentSalaryHeading" class="collapse"
                                aria-labelledby="currentSalaryHeading" data-parent="#accordion">
                                <div class="card-body">
                                    <!-- Polymorphic Relationships in Laravel -->

                                    <li
                                        style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                        <strong>Helpers</strong>
                                    </li>
                                    <li
                                        style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                        <strong>Third Party Packages</strong>
                                    </li>
                                    <li
                                        style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                        <strong>Display Old Values</strong>
                                    </li>
                                    <li
                                        style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                        <strong>Authentication</strong>
                                    </li>
                                    <li
                                        style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                        <strong>Unit Testing</strong>
                                    </li>
                                    <li
                                        style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                        <strong>Constants</strong>
                                    </li>
                                    <li
                                        style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                        <strong>Third Party API Integration</strong>
                                    </li>
                                    <li
                                        style="list-style: none;color:black;background:rgb(121, 240, 121);padding:20px;">
                                        <strong>Live Wire</strong>
                                    </li>
                                    <li>
                                        <a href="https://www.w3adda.com/blog/laravel-9-livewire-multiple-image-upload"
                                            target="_blank">LiveWire</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        Variables

                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>Small Name</li>
                                        <li>Snake Cases</li>
                                        <li>By Reference or By Value</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        Routes
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>Use hyphen "-" </li>
                                        <li>Use Constant Prefix</li>
                                        <li>Small Method Name</li>
                                        <li>Auth, guest middlewares</li>
                                        <li>Meaningful name</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button
                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                        data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Methods

                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>Comment above each line of code</li>
                                        <li>Comment above each function multi line</li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- /.container-fluid -->
