<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Kashif Interview</div>
    </a>



    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="javascript:void(0);">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>General Interview</span>
        </a>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>OOP Concepts</span>
        </a>
    </li>

        <!-- Nav Item - Data Structure -->
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Data Structure</span>
        </a>
    </li>

    <!-- Nav Item - Technologies Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTechnologies"
            aria-expanded="true" aria-controls="collapseTechnologies">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Technologies</span>
        </a>
        <div id="collapseTechnologies" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="javascript:void(0);">Laravel</a>
                <a class="collapse-item" href="javascript:void(0);">PHP</a>
                <a class="collapse-item" href="javascript:void(0);">Angular</a>
                <a class="collapse-item" href="javascript:void(0);">RxJs</a>
                <a class="collapse-item" href="javascript:void(0);">TypeScript</a>
                <a class="collapse-item" href="javascript:void(0);">JavaScript</a>
                <a class="collapse-item" href="javascript:void(0);">jQuery</a>
                <a class="collapse-item" href="javascript:void(0);">React</a>
                <a class="collapse-item" href="javascript:void(0);">Vue Js</a>
                <a class="collapse-item" href="javascript:void(0);">Bootstrap</a>
                <a class="collapse-item" href="javascript:void(0);">Ajax</a>
                <a class="collapse-item" href="javascript:void(0);">Git</a>
                <a class="collapse-item" href="javascript:void(0);">FireBase</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Problem Solving</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="javascript:void(0);">String</a>
                <a class="collapse-item" href="javascript:void(0);">Array</a>
                <a class="collapse-item" href="javascript:void(0);">Binary Tree</a>
                <a class="collapse-item" href="javascript:void(0);">Graph</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Databases Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCodeStandard"
            aria-expanded="true" aria-controls="collapseCodeStandard">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Coding Standard</span>
        </a>
        <div id="collapseCodeStandard" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="javascript:void(0);">Laravel</a>
                <a class="collapse-item" href="javascript:void(0);">Angular</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Databases Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDatabases"
            aria-expanded="true" aria-controls="collapseDatabases">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Databases</span>
        </a>
        <div id="collapseDatabases" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="javascript:void(0);">MySQL</a>
                <a class="collapse-item" href="javascript:void(0);">SQL in PHP</a>
                <a class="collapse-item" href="javascript:void(0);">Laravel Queries</a>
            </div>
        </div>
    </li>

    <!-- Experience Interview -->
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Experience Interview</span>
        </a>
    </li>

    <!-- Final Interview -->
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Final Interview</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Live Links</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>CV</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Portfolio</span>
            </a>
        </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
</ul>
<!-- End of Sidebar -->
